<div class="clr-row">
    <div class="clr-col-6">
        <app-powerusage-card></app-powerusage-card>
    </div>
    <div class="clr-col-6">
        <app-live-power-usage-card></app-live-power-usage-card>
    </div>
    <div class="clr-col-6">
        <app-barchart-minute-card></app-barchart-minute-card>
    </div>
    <div class="clr-col-6">
        <app-barchart-hourly-card></app-barchart-hourly-card>
    </div>
    <div class="clr-col-6">
        <app-barchart-daily-card></app-barchart-daily-card>
    </div>
</div>
<div class="clr-row">
</div>
<div class="clr-row">
</div>